<% if notice %>
<div class="alert alert-success alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span ari
a-hidden="true">&times;</span></button>
<p id="notice"><%= notice %></p>
</div>
<% end %>
<h2 class="sub-header">Tags</h2>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>タグ名</th>
<th colspan="2"></th>
</tr>
</thead>
<tbody>
<% @tags.each do |tag| %>
<tr>
<td><%= tag.name %></td>
<td><%= link_to '編集', edit_tag_path(tag) %></td>
<td><%= link_to '削除', tag, method: :delete, data: { confirm: '本当に削除しても
いいですか？' } %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<br>
<%= link_to '新規登録', new_tag_path, class: 'btn btn-default' %>